
<a href='https://www.instagram.com/lanlearning/'> <img src='../pimages/logosmall.png' width="100" height="100"/></a>
___
<center>Copyright LanLearning 2020</center>

# Let's Review Pandas Part 1!

This review notebook is meant to help you practice and reinforce what you have learned about **.csv files** and some of the **basic DataFrame methods** during class.

### Pandas (meaning the Python library, not the cute, fluffy animals that eat bamboo all day)

How would you import the pandas library with a nickname of pd?

In [3]:
import pandas as pd

Replace the line below with your answer to make the sentence correct.

Using the pandas library, we are able to put data into a ```DataFrame``` (basically, a table), which we can interact with and use for our data analysis.

### .csv File

Replace the lines below with your answers to make the sentence correct.

A .csv file is a very common file type that can be manipulated with the help of the pandas library. CSV stands for ```comma```-```separated``` ```values```.

Say you're given a .csv file named **StatsOnCrime**. How would you access the file as a DataFrame? Store it in a variable called ```crime_stats```. <br> Note: in this section, even though some questions require you to provide answers in code, all the response cells are ```markdown``` because we have not attached a .csv file called **StatsOnCrime**, which would cause errors to occur if the cells were ```code```.

**Answer**: crime_stats = pd.read_csv("StatesOnCrime.csv")

How would you access the first 15 rows of ```crime_stats```? Write your code below.

**Answer**: crime_stats.head(15)

How would you access the last 15 rows of ```crime_stats```?

**Answer**: crime_stats.tail(15)

Replace the line below with your answer to make the sentence correct.

You can access the dimensions (number of rows and columns) of a frame has by using ```.shape```.

### Creating Your Own DataFrame

Create a dictionary using the info provided and display the data as a DataFrame.


    Name: Alameda High School, Encinal High School, Lincoln Middle School, Wood Middle School
    Mascot: Hornet, Jet, Lion, Beaver
    Grades 6-8: False, False, True, True
    Grades 9-12: True, True, False, False

In [14]:
# make a dictionary
school_info = {"Name": ["Alameda High School", "Encinal High School", "Lincoln Middle School", "Wood Middle School"], 
               "Mascot": ["Hornet", "Jet", "Lion", "Beaver"],
               "Grades 6-8": [False, True, True, True], 
               "Grades 9-12": [True, True, False, False]}

In [15]:
# display the dictionary as a DataFrame
df = pd.DataFrame(school_info)
df

                    Name  Mascot  Grades 6-8  Grades 9-12
0    Alameda High School  Hornet       False         True
1    Encinal High School     Jet        True         True
2  Lincoln Middle School    Lion        True        False
3     Wood Middle School  Beaver        True        False

## Hope you've enjoyed this review! :)

If you have any questions, feel free to email us at **lanlearningservice@gmail.com** or even better, use **Piazza**! We'll be happy to answer any questions/problems/etc that you may have!

### About this notebook: 
Developed by: <br>
**Colin Yee** <br>

Edited by: <br>
**Kyra Yee**