___

<a href='https://www.instagram.com/lanlearning/'> <img src='../pyimages/logosmall.png' width="100" height="100"/></a>
___
<center>Copyright LanLearning 2020</center>

# Welcome back!

This workbook is designed for you to learn the basics of Python. There will be a few workbooks like this one designed to help you learn Python in the following parts:

- Part 1: Basic Data Types (one we are on right now)
- Part 2: Advance Data Types
- Part 3: Functions
- Part 4: Python Processes
- Part 5: NumPy


This notebook will cover the basic data types that are a part of the Python language.

## Getting Started

Whenever you're taught a programming language, you are always taught how to print ```'Hello World!'```. 

While this is definitely a great way to start and get sutdents excited, I believe there is a lot that needs to be taught before being able to make the computer say ```'Hello World!'```. For this reason, we will start with data types.

In [1]:
print('Hello World!')

Hello World!

## How to add comments to code cells:

<br>
<img src='../pyimages/comments.png' width="500"/></a>
<br>

Before going into Python lessons, here's a way you can comment on code. 

Commenting on code is important to leave important messages and tips for the person reading your code. 

To add a comment, write a hashtag ```#``` sign and then write whatever comment you want after it. Comments will always be in a greenish-blue color.

In [ ]:
# this is a comment

In [1]:
 # this is another comment

## Basic Data Types:

To introduce data types, think of the different things you can write in English, or any other language you use in your daily life. 

In English you are able to write **words**, **letters**, **numbers**, **decimal numbers**, and more. Each of those are important, different pieces in the English language.

So similar to English, Python has its data types. Each data type serves a purpose and is important to whatever work you do with data types.

Here are the various data types in Python: 


## Strings: 

<br>
<img src='../pyimages/str.jpg' width="500"/></a>
<br>

Strings are words in the Python language. Strings can be of any length, and can contain more than one word. 
- Strings can be identified by single quotation marks appearing at each end of the string.
- For example, ```'Hi, my name is Milan'``` is a string; in this case, it is a sentence with 5 words. Notice the ```'``` at each ends of the string
- Anything that is within two ```' '``` is a string. For example, ```'2'``` is a string where the word here is the number 2. 

In a code cell below, we write a string:

In [5]:
'Hi, my name is Milan'

'Hi, my name is Milan'

In [ ]:
'This is a string.'

In [ ]:
'This is string number 2, which has a number in it.'

Strings can also be written using double quotes.

In [ ]:
"This is a string."

This can be useful if you want to make use of the single quote within your string.

In [ ]:
# running this cell will cause an erorr, so don't run it, just take a look at it
"I'm learning Python today!"

# if you used single quotes at the ends, this would cut the string.
# for example:
'I'm learning Python today!'
# This is what causes the error when you run the cell. 
# The stuff that is not in red is not part of the string and the computer doesn't 
# know what to do with it.

# How can we fix it?

In [ ]:
# If for some reason you still want to use single quote, just put a
# ```\``` before the intended apostrophe

'I\'m learning Python today!'

# ```\``` also works if you want double quotes in your string

In [9]:
# I want to write a string that reads "Tony's cat jumped!"

"Tony's cat jumped"

"Tony's cat jumped"

## Integers: 
Integers are numbers in the Python language. 
- Integers are usually in green color and can be simply written in. 
- Good for when you don't need to worry about fractions. For example 1st, 2nd, or 3rd place.

In a code cell below, we write the integer ```2```:

In [ ]:
2

#Such a cool number!

## Float: 

<br>
<img src='../pyimages/float.jpeg' width="500"/></a>
<center>Photo by: Dave Jacobs</center>
<center>source: https://www.miaminewtimes.com/news/alligator-spotted-on-alligator-pool-float-at-miami-airbnb-11177604</center>
<br>

A float is a decimal number in in the Python language. 
- Floats are usually in green color and can be simply written in. 
- Good for when you need fractions and decimal numbers. For exampe time or dollars.
- They use more computer memory so it doesn't make sense to use a float for everything.

In a code cell below, we write the float ```0.2```:

Any number with a decimal is a float:

In [ ]:
2.

In [ ]:
.2

In [ ]:
.0

In [ ]:
0.

# Boolean: 
The last basic data type in Python is a boolean. A boolean is a data type the represents ```True``` and ```False```.
- Booleans could be written in, but are typically create by the computer. 
- Good for represnting things that can only be one or the other for example yes or no.
```False``` can be represented as $0$, while ```True``` can be represented as any number besides $0$.

In [ ]:
True

In [ ]:
False

## Variable Assignment
These data types matter because of variable assignment. Variable store things for later use. Variable asignment is the process of creating variables and telling them what to store.

Variable assignment is really important in Python because all the work you will be doing in Python will be through variables. For example, you will be using variables to do Math in Python in some of the upcoming notebooks. 

There are three parts variable assignment: 
- Part 1: You start with writing the variable name all the way to the left of the code line.
- Part 2: After writing the variale name, type in the ```=``` sign. 
- Part 3: to the right of ```=``` write the data type you want to assign the variable to. 

Let's assign 2 to a variable called ```x```:

In [10]:
variable_name = 'variable name'

In [11]:
variable_name

'variable name'

In [12]:
# note that this is line 1, as shown by the number to the left

# this is code line 3

# first step for variable assignment is writing the name of variable
# then write an equal sign next to it
# then assign the variable your data type

x = 2

Nothing was returned after writing in ```x = 2```, and that's how it is with variable assignment. 

To see the value under the variable, simply **call** the variable by wiritng it in a code cell.

In [13]:
x

2

Now you should be able to see the value of your variable.

### Choosing a variable name: 
There are some important rules for choosing variable names:

<br>
<img src='../pyimages/elon.jpeg' width="500"/></a>
<center>source: Elon Musk, Twitter</center>
<br>

- Variables cannot start with a number or be a number. 
- Variable must begin with a ```_``` or a letter.

**In the code cell below, try to see if you can assign a variable to a name that doesn't follow the rules above.**

In [15]:
elons2 = '2 elons'

In [16]:
elons2

'2 elons'

In [17]:
my_name = 'cynthia'

In [18]:
my_name

'cynthia'

You can assign a variable to a string, boolean, float, or integer.

In [19]:
a = 'string'
a

'string'

In [20]:
b = 0.23
b

0.23

In [21]:
c = False
c

False

In [22]:
d = 23
d

23

You can also make multiple assignments on the same line.

In [23]:
name, age = "Chad", 20

In [24]:
name

'Chad'

In [25]:
age

20

## Checking and Changing Data Types:
To change and check data types, we need to use built-in functions provided by Python. 

Built-in functions are a topic of another notebook, but in short they are exactly what they sound like: a **built-in function** is a function that is defined within Python. 

To check the type of a variable, pass the variable in the function ```type()```. 

To pass a variable function, simply write the variable name inside the ```()```.

In [26]:
type(a) # im passing in a into the function type()

str

Notice that we defined ```a``` a few cells above.

We made ```a``` be the string ```'string'```, so when we called ```type()``` on it, it returns ```str```. 

If your variable is a string, ```str``` will be returned. 

If your variable is an integer, ```int``` will be returned.

If your variable is a float, ```float``` will be returned. 

If your variable is a boolean, ```bool``` will be returned.

In [27]:
# a is a string
type(a)

str

In [28]:
# b is a float
type(b)

float

In [29]:
# c is a boolean
type(c)

bool

In [30]:
# d is an integer
type(d)

int

### Changing a data type:

To change a data type, you will need to use the built-in functions:

```str()``` to change something to a string. 

```int()``` to change something to an integer. 

```float()``` to change something to a float. 

```bool()``` to change something to a boolean.

In [31]:
str(2)

'2'

In [32]:
int('2')

2

In [33]:
float(2)

2.0

In [35]:
int(2.9)

2

In [38]:
bool(-234)

True

In [39]:
int(True)

1

In [40]:
int(False)

0

In [ ]:
# false is represented by 0

In [41]:
float(0)

0.0

In [42]:
float(False) # = false(0)

0.0

In [43]:
str(True)

'True'

In [44]:
# below i'm am passing an empty string in bool, which returns false
bool('')

#Try putting something inside the string and see what happens

False

In [46]:
bool('name')

True

In [49]:
bool(int(11.67))

#Try changing it from 0 and running this cell again to see what happens!

True

### Quick note about changing data types:

#### When changing to strings: 
Pretty much anything can be changed to a string, so there's nothing to worry about here. 

#### When changing to an int: 
- A float will be rounded **down** to the nearest integer when passed to the ```int()``` function. 
- ```True``` will change to $1$ when passed through ```int()```, and ```False``` to $0$.
- You can **only** pass in digits, floats, ```True```, and ```False``` through the ```int()``` function. Anything else will error! 

#### When changing to a float:
- You can only pass in numbers or booleans through a float. 
- When converted to a float, an integer 5 will become ```5.0``` and ```True``` and ```False``` will become ```1.0``` and ```0.0``` respectively

#### when changing to a boolean: 
- You can pass in a string, float, or integer through the boolean function. 
- An empty string such as ```''```, the integer ```0```, or the float ```0.0``` are some examples that will return ```False```. Everything else returns ```True```.

# End

That's all for now with this basic data type notebook. 

Feel free to mess around with and solidy your understandings with code cells! 

See you in the next notebook!

### About this notebook: 
Developed by: <br>
**Milan Butani**

Edited by: <br>
**Colin Yee** <br>
**Liam McDonough** <br>

#### Subscribe to LanLearning for lesson recaps
Youtube: https://www.youtube.com/channel/UC5_yxU9pz4ka7xITJMxO5WA/

#### Notebook originally provided by: @stat.mi_codes
Instagram: https://www.instagram.com/stat.mi_codes/

#### Your feedback is very important to us. Please leave us a feedback on our work! 

Feedback link: https://forms.gle/XbC6dxXbqnP9JihV6