___

<a href='https://www.instagram.com/lanlearning/'> <img src='../pyimages/logosmall.png' width="100" height="100"/></a>
___
<center>Copyright LanLearning 2020</center>

# Announcements: 

## Camp Timeline: 

### Week 1:
- **Python Fundamentals** (June 22-25)
- Guest Speaker: **Daphne Cheung** (Fri, June 26)

### Week 2:
- Guest Speaker: **Madhav Thaker** (Mon, June 29)
- **Pandas Fundamentals** (June 30 - July 2)
    - one notebook at a time!
    - data analysis methods
    - visualizations 
#### July 3 (Friday) is off! NO CLASS!
    
### Week 3: 
- Guest Speaker: **Christian Bourdeau** (Mon, July 6)
- Wrap up **Pandas Fundamentals**
- Context for **ML Models** (July 8)
- Guest Speaker: Grishma Jena (Thu, July 9)
- Conclusion (Fri, July 10)

### Week 4: Optional Week - Getting you ready for out of camp!
- **Hackathon** (maybe prize-sponsored competition)
- **Resume Workshop**
- Worktime for **Projects, GitHub**
    - end of class (if extra time), I'll show you projects/datasets

### Sprinkled Throughout: 
- **Class bonding activities**
- **Kahoots! and Educational Games**

## Guest Speakers:
- 5 min settle in, and intro
- Guest presents for 30-50 mins
- Q/A for 25-30 min 

## Reminder: have your release forms sent in. Guest speakers will be recorded and I will kick you out if they aren't submitted.

# Welcome back! Let's Start Part 2!

This workbook is designed for you to learn the basics of Python. There will be a few workbooks like this one designed to help you learn Python in the following parts. 

Please follow the notebooks in the order below because the topics build off of content that was covered in previous notebooks:

- Part 1: Basic Data Types
- Part 2: Advance Data Types (one we are on right now)
- Part 3: Functions
- Part 4: Python Processes

## Advanced Data Types:

In the previous notebook, we covered some of the basic data types in Python. Those included strings, integers, floats, and booleans. 

Advanced data types will be those that make use of the basic data types. These include: 

1. Lists or arrays 
2. Dictionaries 
3. Sets
4. Functions

This notebook will cover everything mentioned above except for functions, as they will be covered in the next notebook.

So let's get into it!

### List or Array: 

<br>
<img src='../pyimages/list.jpg' width="300"/></a>
<br>

A list in Python is a collection of items. These items could be a group of variables or a group of data types.

#### To create a list, use the ```[ ]``` square brackets
Inside of the brackets ```[ ]```, write down your items and separate them with commas to avoid a syntax error!

Let's do an example. Say you want to make a list that contains all numbers from one to five:

In [1]:
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

The code above is how you would make a list of the first five numbers. 

This piece of data can be stored under a variable name. 

If you want to name your list as ```the_first_five_ints```, set it equal to your list:

In [2]:
the_first_five_ints = [1, 2, 3, 4, 5]

In [3]:
the_first_five_ints

[1, 2, 3, 4, 5]

A list can have **multiple different data types within it**:

In [4]:
diverse_list = ['hi', 2, True, 30.4]
diverse_list

['hi', 2, True, 30.4]

To check the length of the list, use the built-in ```len()``` function:

In [5]:
len(diverse_list)

4

In [6]:
len(the_first_five_ints)

5

**You can put a list inside of a list, too**:

In [7]:
inside_list = [diverse_list, the_first_five_ints]
inside_list

[['hi', 2, True, 30.4], [1, 2, 3, 4, 5]]

**Adding Values to a List**

If you want to add new values to your list, there are a couple ways to do it. For example, let's say that you created a list of all your friends' names, but since you made some new friends through this Data Science summer camp, you want to add them to your list:

In [8]:
friend_list = ["Michelle", "Kaleen", "Lance", "James"]  # original friend list

You could use the **.append(value_name)** method to add their names!

In [9]:
friend_list.append("Ethan")

Or you could add names by creating a list of your new friends' names and then adding it to your original friend_list by using +

In [10]:
friend_list = friend_list + ["Katherine", "Adeline"]     # shortcut is just writing friend_list += ["Katherine", "Adeline"]

Ta da! Your friend_list is now updated!

In [11]:
friend_list

['Michelle', 'Kaleen', 'Lance', 'James', 'Ethan', 'Katherine', 'Adeline']

**Deleting Values from a List**

It's important to know that you can also delete values from a list by using the .remove(value_name) method.

In [12]:
friend_list.remove("Michelle")
friend_list

['Kaleen', 'Lance', 'James', 'Ethan', 'Katherine', 'Adeline']

In [13]:
fruits = []
vegetables = []

In [14]:
fruits.append('apple')
fruits

['apple']

In [17]:
fruits = fruits + ['pear']
vegetables.append("lettuce")
vegetables = vegetables + ["carrot"]

In [18]:
len(fruits)

3

In [20]:
fruits.remove('pear')

In [21]:
fruits

['apple', 'pear']

In [22]:
vegetables

['lettuce', 'carrot']

In [23]:
grocery_list = fruits + vegetables

In [24]:
grocery_list

['apple', 'pear', 'lettuce', 'carrot']

In [25]:
grocery_list.remove('strawberry')

ValueError: list.remove(x): x not in list

In [26]:
x = 2

In [27]:
# more code for adding a value
x = x + 2 # "x equals x + 2"
x

4

In [28]:
x = 2

In [29]:
# this is a shortcut 
x += 2 # "x equals x + 2"

In [30]:
x

4

In [33]:
fruits = fruits + ['strawberry'] #no shortcut for adding strawberry 
fruits

['apple', 'pear', 'strawberry']

In [34]:
fruits += ['grape'] #shortcut method for adding grape 
fruits

['apple', 'pear', 'strawberry', 'grape']

## Indexing:

Before going into the other advanced data types, let's take a second to understand what **indexing** is. 

<br>
<img src='../pyimages/index.jpg' width="300"/></a>
<br>

**Indexing** allows you to extract individual elements that are inside your advanced data type. 
- For example, indexing can help you find the first, second, ... ninth element in the list or array. 

To index into your array, you need to use **bracket notation**. 

#### Bracket Notation: 
To extract an element from a list, simply type ```[]``` after typing in the variable name that the list is stored under. Inside the ```[]```, put a number to specify the location of the item that you want to select. Indexing always starts at 0!
- If you want the first item from your list, use the number 0 in your brackets. 
- If you want the second item from your list, use the number 1 in your brackets. 

To summarize, the index of an item will be the place of the item in the list **minus 1**.

Now let's apply some indexing skills in an example!

Let's say I want to select the third item in my ```the_first_five_ints``` array. To do so, I will write: ```the_first_five_ints[2]``` because 3 (from the "third item" specification) minus 1 is 2.

In [35]:
fruits

['apple', 'pear', 'strawberry', 'grape']

In [37]:
fruits[1]

'pear'

In [ ]:
# that's how indexing works 

# to get item 2 from your list, use index 1

# for any item, to get it out, use "location - 1"

# the reason is for this is computer memory

In [38]:
# want to get grape out of fruits:

fruits[3]

'grape'

In [ ]:
the_first_five_ints[2]

In [ ]:
inside_list[0]

In [ ]:
inside_list[0][2]

### Indexing in Strings: 
You can also index into strings! 

If you want the first letter in the string, write ```[0]``` next to the string or its variable. 

For example:

In [ ]:
'Milan'[0]

In [ ]:
my_string = 'Milan'
my_string[0]

In [39]:
#gets our letter 'K'
'Kobe'[0]

'K'

In [40]:
'Kobe'[2]

'b'

## More Indexing: 
You can also take out slices from your advanced data type or string by using the ```:```. 

Say you have a string ```'Milan'``` and you want the first three letters from the string. 

You can write ```'Milan'[0:3]``` to get the first three elements. 

Try it out:

In [ ]:
'Milan'[0:3]

In [42]:
# lonzo's nickname is zo

'Lonzo'[3:5]

# 3 is included
# 5 is excluded 

# the first number is always included aka inclusive
# the second number is not included aka exclusive

'zo'

In [43]:
# wanna get 'on' fron 'Lonzo'

# index for o: 1
# index for n: 2

'Lonzo'[1:3]

'on'

In [46]:
# wanna get 'Lon'
'Lonzo'[:3]

# takeaway: no specification of starting location, defaults to beginning

'Lon'

In [47]:
# wanna get 'onzo'
'Lonzo'[1:]

# takeaway: no specification of ending location, defaults to ending

'onzo'

In [48]:
'Lonzo'[:]

#this makes sense, because defaults to start and end, whcih is everything

'Lonzo'

In [52]:
'Lonzo'[-2]

'z'

In [50]:
'Lonzo'[-3:-1]

'nz'

In [ ]:
# -1 is the last letter
# -2 is the second to last letter
# ....

In [56]:
'Lonzo'[0] + 'Lonzo'[3]

'Lz'

In [57]:
d2 = [[1, 2, 3],
    [4, 5, 6]]

In [60]:
d2[0][2]

3

Let's understand what happened there: 

- The number before the ```:``` is the location where you want to start your slice. 
- The number after the ```:``` represents the location that is right after the point where you want to end your slice. 

For example, in the string ```'Milan'```, the first three letters are located at indexes ```0```, ```1```, ```2```. 

However, we need to write ```[0:3]``` if we want to extract the first three letters. This means that the number after the ```:``` is not inclusive (we do not include the letter at that location in our slice).

In [ ]:
# This should get you the first four letters: 
'Milan'[0:4]

In [ ]:
# If you don't specify a starting location, it will default to 
# the first letter:
'Milan'[:3]

In [ ]:
# If you don't specify an ending location, it will include everything
# after the starting point:
'Milan'[2:]

In [ ]:
# If you don't specify an ending or starting location, the entire 
# string is returned:
'Milan'[:]

#### Important Rule:
The key thing to remember is that the **number before the ```:``` is inclusive** and the **number after the ```:``` is not inclusive.**

### Slicing with Lists:
You can slice similarly with arrays and lists:

In [ ]:
the_first_five_ints[0:2]

In [ ]:
the_first_five_ints[2:]

# Recap

**Lists**
- a collection of items, use brackets ```[]``` and separate the values with commas
- ex: num_list = [1, 2, 3, 4, 5]
- add values by using .append(value_name) or ```+```, remove values using .remove(value_name)
- ex: num_list.append(6) or num_list += [7, 8, 9], num_list.remove(1)
    
**Indexing**
- used to extract individual elements, indexing starts at 0
- place brackets ```[]``` after the variable that you want to access the individual elements from, specify the location of those elements 
- ex: "data science"[0] -----> d
- ex: "data science"[0:4] -----> data
- number before the ```:``` is inclusive and the number after the ```:``` is not inclusive

# End

That's all for now.

Feel free to mess around with the code cells to solidify your understanding of the topics covered in this notebook! 

See you in the next notebook!

### About this notebook: 
Developed by: <br>
**Milan Butani** <br>
**Bernice Lau** <br>
**Kyra Yee** <br>
**Colin Yee** <br>


#### Notebook originally provided by: @stat.mi_codes
Instagram: https://www.instagram.com/stat.mi_codes/

#### Your feedback and learning are important to us. Please leave us a feedback on our work! 

Feedback link: https://forms.gle/XbC6dxXbqnP9JihV6